.popup-card {
    position: absolute;
    top: 50px;
    right: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    height: 250px;
    width: 200px;
    border-radius: 10px;
    background: white;
    padding: 10px;
    z-index: 99;
}