$primary-color: #0073b1;
$secondary-color: #213f82;
$text-color: #212121;

.login-wrapper {
    background: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    .form {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        width: 400px;
        padding: 2rem 1rem;
        border-radius: 10px;
        background: white;
    }

    .form > * {
        width: 100%;
    }

}

.login-title {
    width: 30%;
    font-weight: 500;
    color: $text-color
}

.login-text {
    font-weight: 400;
    font-size: 1rem;
    color: $text-color;
    margin-bottom: 2rem;
}



.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: $text-color;
    opacity: 0.7;
    font-size: 1rem;
    margin: 1rem 0;
}

.separator::before,
.separator::after {
content: '';
flex: 1;
border-bottom: 1px solid #000;
opacity: 0.4;

}

.separator:not(:empty)::before {
margin-right: .5rem;
}

.separator:not(:empty)::after {
margin-left: .5rem;
}      

.login-inputs {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    margin: 1rem 0;

    .common-input {
        height: 50px;
        width: 100%;
        border-radius: 5px;
        border: none;
        outline: 1px solid $text-color;
        padding: 0 1rem;
        font-size: 1.2rem;
        font-weight: 300;
        &:focus {
            outline: 2px solid $primary-color;
        }
    }
    ::placeholder {
        color: $text-color;
    }

    .show-btn {
        position: absolute;
        right: 1rem;
        bottom: 0.7rem;
        border: none;
        background: none;
        padding: 0.4rem;
        font-weight: 500;
        color: $secondary-color;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            background: rgba(104, 169, 204, 0.3);
        }
    }
}

.logo {
    width: 80px;
    position: absolute;
    top: 20px;
    left: 20px;

    svg {
        fill: $primary-color;
    }
}

.login-btn {
    height: 50px;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    background: $primary-color;
    color: white;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 400;
    &:hover {
        background: $secondary-color;
    }
}

.google-btn {
    height: 50px;
    cursor: pointer;
    border: none;
    background: white;
    color: $text-color;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 400;
    outline: 1px solid $text-color;
    &:hover {
        background: rgba(169, 188, 198, 0.3);
        outline: 2px solid $text-color;
    }

    i {
        margin-right: 0.5rem;
    }
}

.new-acc {
    font-weight: 400;
    font-size: 1rem;
    color: $text-color;
    text-align: center;
    margin-top: 1rem;
    
    span {
        padding: 0.5rem;
        border-radius: 30px;
        color: $primary-color;
        font-weight: 500;
        cursor: pointer;
        &:hover {
            background: #b8daed;
            text-decoration: underline;
        }
    }
}
