.post-status-main {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .post-status {
        width: 600px;
        height: 100px;
        background: white;
        margin-top: 30px;
        border: 1px solid #a5a5a5;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .open-post-modal {
            width: 80%;
            height: 50px;
            border-radius: 25px;
            text-align: left;
            padding-left: 20px;
            color: #212121;
            background: white;
            border: none;
            outline: 1px solid #212121;
            cursor: pointer;
            font-size: 1rem;

            &:hover {
                background: #ebebeb;
            }
        }
    }
    .posts-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 600px;
    }
}

.modal-input {
    width: 100%;
    color: #212121;
    border: none;
    outline: none;
    font-size: 1rem;
    margin-top: 1rem;
    resize: none;
}

.post-btn {
    background: red;
}

.profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
