$primary-color: #0073b1;
$secondary-color: #213f82;
$text-color: #212121;

h4 {
    font-weight: 400;
    color: $text-color;
    margin-bottom: 1rem;
}

hr {
    opacity: 0.8;
}

.profile-edit-inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
    align-items: center;
    width: 100%;
    label {
        margin-right: auto;
        font-size: 1.1rem;
        margin-bottom: -5px;
        font-weight: 300;
    }
    input {
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 5px;
        outline: 1px solid $text-color;
        padding: 0 0.5rem;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 15px;
        &:hover {
            outline: 2px solid black;
        }
        &:focus {
            outline: 2px solid $primary-color;
        }
    }

    ::placeholder {
        color: $text-color;
        font-weight: 300;
        font-size: 1rem;
    }
}

.save-btn {
    width: 100px;
    height: 40px;
    margin-left: auto;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    background: $primary-color;
    color: white;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 400;
    &:hover {
        background: $secondary-color;
    }
}

.close-edit-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    i {
        padding: 5px;
    }
    &:hover {
        background-color: #e0e0e0;
    }
}
